[Desktop Entry]
Name=Cosmic Applet Boot Environment
Comment=A COSMIC applet to help swap between ZFS boot environments
Type=Application
Icon=com.github.kamacite-linux.cosmic-applet-boot-environment
Exec=cosmic-applet-boot-environment %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
