[Desktop Entry]
Name=Boot Environment Applet
Comment=A COSMIC applet to help swap between ZFS boot environments
Type=Application
Icon=ca.kamacite.cosmic-applet-boot-environment
Exec=cosmic-applet-boot-environment
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC;ZFS;beadm
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
